.container { 
 max-width: 575px;
 margin: 0 auto; 

}

.row{
  width: 100%;
}

.rowSpacing{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media screen and (min-width: 736px){
  .container {
    max-width: 736px;
    margin: 0 auto;
  }
}